<div id="backg" class="backg">
<div class="wrapper clearfix">
  <div class="welcomeTitle">
       <div class="title" id="titlename">Welcome to Our Dice Game</div>
   </div>

   <nav>
   <div><a routerLink="player" routerLinkActive="activebutton"><button class="btn-new-game btn" >NEW GAME</button></a></div>
   <div><a routerLink="scoreboard" routerLinkActive="activebutton"><button class="btn-scoreboard btn" >SCOREBOARD</button> </a></div> 
   <div><a routerLink="rules" routerLinkActive="activebutton"><button class="btn-rules btn">RULES</button></a> </div> 
</nav>
      <router-outlet></router-outlet>
  </div>
  </div>
