<div class="wrapper clearfix">
    <div class="welcomeTitle">
         <div class="title" id="name-0">Enter Player Names</div>
     </div>


     <div class="player-0-panel ">
         <div class="player-name" id="name-0">Player 1</div>
         <input type="text" class="player-0-name">
     </div>

     <div class="player-1-panel active">
         <div class="player-name" id="name-1">Player 2</div>
         <input type="text" class="player-1-name">
     </div>

     <button class="btn-start-game">Start Game</button>
 </div>